h1{
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-family: 'Montserrat';
}

body{
    background: url(shaymin.jpg) left center / cover no-repeat fixed
}
.buttons{
    text-align: center;
}

.hiddens{
    font-family: 'Montserrat';
    font-size: 20px;
    right: auto;
    left: 30%;
    text-align: center;
    width: 40%;
    background:rgba(255, 255, 255, .8);
    position: fixed;
    margin-top: 100px;
}
#win{
    top: 75%;
}

#overview{
    font-family: 'Montserrat';
    font-size: 100%;
    text-align: center;
}

.cards{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 6%;
    grid-column-gap: 2%;
    justify-items: center;
    text-align: center;
    justify-self: center;
}

.cards img{
    width:100%;
    height:100%;
}

@font-face {
    font-family: Montserrat;
    src: 
        url("Montserrat/Montserrat-Regular.ttf")
  }

/* Styles for Mobile Viewport (max width: 600 px) */
@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    .cards{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: min-content min-content min-content min-content ;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 6%;
        grid-column-gap: 2%;
        justify-content: center;
    }
    .cards img{
        width:90px;
        height:100%;
    }
}

/* Styles for Tablet Viewport (min-width 601 px) and (max-width: 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .cards{
        width: auto;
        /* padding-top: 2%; */
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: min-content min-content min-content min-content ;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-content: center;
    }
    .cards img{
        width:130px;
        height:100%;
    }
}

/* Styles for Desktop Viewport (min-width: 1025px) */
@media (min-width: 1025px) {
    .cards{
        width: auto;
        /* padding-top: 2%; */
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: min-content min-content min-content min-content ;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-content: center;
    }
    .cards img{
        width:140px;
        height:100%;
    }
}